#top_box{
    width: 100%;
    height: 100px;
    float: left;
    margin: auto;
}
#logo_box{
    width: 100px;
    height: 50px;
    overflow: hidden;
    float: left;
    padding: 20px 10px;
}
#logo_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#name{
    float: left;
    padding: 5px 10px;
}
.option_box{
    width: 700px;
    height: 560px;
    margin: 20px;
    float : left;
    border: 2px solid black;
    border-radius: 20px;
}
.transport, .eat, .life{
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.title{
    width: 500px;
    height: 40px;
    margin: 10px;
}
.tr_btn, .ea_btn, .li_btn{
    margin: 5px;
}
.output_box{
    width: 700px;
    height: 560px;
    border: 2px solid black;
    margin : 20px;
    float : left;
    border-radius: 20px;
}
#output{
    width: 630px;
    height: 250px;
    border: 2px solid black;
    margin: 20px 35px;
    resize: none;
    border-radius: 20px;
    overflow: scroll;
}
#bottom{
    position:absolute; 
    bottom:0px;
    width: 100%;
    height: 50px;
    color: blue;
}
#total_carbon{
    width: 630px;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px 35px;
}
